* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  max-width: 95rem;
  margin-inline: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-btn-sc) var(--color-bg);
  scrollbar-gutter: stable both-edges;
}

body::-webkit-scrollbar {
  width: 1rem;
  border-radius: .5rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-btn-pr);
  border-radius: .5rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-btn-pr-dr);
}


hr {
  opacity: .6;
}